
.box {
  width: 60px;
  height: 60px;
  align-self : 'stretch';
  justify-content: 'center';
  align-items: 'center';
  background-color: 'pink';
  border-width: 1;
  border-color: 'transparent';
  font-size:15px;
  vertical-align: top;
}


.game {
  height: auto;
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-areas:
  "b s";
  grid-gap: 5px ;
  column-gap: 5px;
  row-gap: 5px;
}
.block{
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  grid-area: b;
}
.status{
  grid-area: s;
  height: auto;
}