
.head{
  background-color: gray;
  border-color: 'transparent';
  grid-area: b;
  border-width: 1;
  border-style: solid;
  height: 100px;

}
.head img{
  grid-area: b;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}
