
.navb{
  background-color: gray;
  border-color: 'transparent';
  grid-area: n;
  border-width: 1;
  border-style: solid;
}
.item a {
  color:white;
  text-decoration:none;
}

.item a.activeLink {
  color: gold;
}
