.ap-wrapper {
  height: auto;
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-areas:
  "b b"
  "n c"
  "f f";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px ;
  column-gap: 5px;
  row-gap: 5px;
}

.ap-w-content{
  grid-area: c;
  background-color: whitesmoke;
  border-color: 'transparent';
  border-width: 1;
  border-style: solid;
  height: auto;
}
